<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>243855296988-vpmp2d6b9eos4updob3m7pp4g2r9r7pd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.243855296988-vpmp2d6b9eos4updob3m7pp4g2r9r7pd</string>
	<key>API_KEY</key>
	<string>AIzaSyC36wvwaOYS-M2vIt0Z644rvc91d3R1DKU</string>
	<key>GCM_SENDER_ID</key>
	<string>243855296988</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.citysightseeingphila.citySightseeingapp</string>
	<key>PROJECT_ID</key>
	<string>citysignseeing</string>
	<key>STORAGE_BUCKET</key>
	<string>citysignseeing.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:243855296988:ios:ee6e667071dccdc1a86719</string>
</dict>
</plist>